//font-family: 'NanumBarunGothicExtraLight';
// font-family: 'NanumBarunGothicLight';
// font-family: 'NanumBarunGothic';
// font-family: 'NanumBarunGothicBold';


* {box-sizing: border-box;}
body {font-family: 'NanumBarunGothic', sans-serif; margin: 0; overflow-x: hidden; font-weight: 400;}
h1,h2,h3,h4,h5,h6, figure, p {margin: 0;}
a {text-decoration: none;}
ul, li {list-style: none; padding: 0; margin: 0;}
img {vertical-align: middle;}

