// reset
@charset "utf-8";

// font 나눔바른고딕
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.5;
    text-transform: uppercase;
}

*::before, *::after{
	border-spacing: 0;
}

html, body, header, main, footer, 
h1, h2, h3, h4, h5, h6, figure, 
div, span, p, a, input, dl, dt, dd{
    margin: 0; padding: 0;
}
img, video, iframe{
    width: 100%; height: auto; 
    margin: 0; padding: 0;
    vertical-align: middle;
}
a{text-decoration: none; color: inherit;}
ol,ul,li{
    margin: 0; padding: 0;
    list-style-type: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
input, button{
    border: none;
    background: none;
    &:focus{
        outline: none;
    }
}

// color
$mc: #351F66; // 메인 보라색
$sc: #027B94; // 서브 파랑
$sl: #E2E2E2; // 서브 라인
$mt: #0f0f0f; // 메인 텍스트
$st: #444444; // 서브 텍스트
$fb: #f8f8fa; // 풋터 배경색

// width

.mwidth{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px
}

// ================================================================================
// ============================= header ===========================================
// ================================================================================

header{
    border-bottom: 2px solid $sl;
    z-index: 9999;
    .head-menu{
        height: 80px;
        color: $st;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .m-margin{
        margin: 0 20px;
        cursor: pointer;
    }
    .menu-left{
        display: flex;
        align-items: flex-end;
    }
    .bugermenu{
        p{
            width: 24px; height: 24px;
            padding: 2px;
            margin-right: 10px;
            position: relative;
            cursor: pointer;
        }
        span{
            width: 100%;
            border-bottom: 2px solid $st;
            position: absolute;
            left: 0; top: 50%;
            &:nth-of-type(1){
                top: 12%;
            }
            &:nth-of-type(3){
                top: 88%;
            }
        }
        p.active{
            background: url('../img/ico-layer-close-g.png'), no-repeat;
            background-size: 24px 24px;
            span{
                display: none;
            }
        }
    }
    .menu-right{
        display: flex;
        align-items: flex-end;
        .my{
            width: 24px; height: 24px;
            padding: 2px;
        }
        .search{
            width: 24px; height: 24px;
            padding: 2px;
            margin-left: 10px;
            cursor: pointer;
        }
        .my.active{
            background: url('../img/ico-layer-close-g.png'), no-repeat;
            background-size: 24px 24px;
            img{
                display: none;
            }
        }
        .search.active{
            background: url('../img/ico-layer-close-g.png'), no-repeat;
            background-size: 24px 24px;
            img{
                display: none;
            }
        }
    }
}

// ================================================================================
// ============================= footer ===========================================
// ================================================================================

.footer-menu{
    width: 100%; height: 200px;
    background-color: $fb;
    color: $st;
    // position: absolute;
    // left: 0; bottom: 0;
    z-index: 999;
    .f-1{
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            li{
                margin-right: 14px;
                font-size: 0.8em;
            }
            b{font-size: 1em;}
        }
        button{
            padding: 4px 18px;
            font-size: 0.8em;
            border: 1px solid $sl;
            border-radius: 30px;
            cursor: pointer;
            img{
                width: 12px;
                margin-right: 4px;
            }
        }
    }
    .f-2{
        display: flex;
        justify-content: space-between;
    }
    .f2-1{
        width: 150px;
        margin-top: 4px;
    }
    .f2-2{
        span{
            font-size: .8em;
        }
    }
    .f2-3{
        display: flex;
        span{
            margin-top: 4px;
            margin-left: 8px;
        }
    }
}