@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

*::before, *::after {
  border-spacing: 0;
}

html, body, header, main, footer,
h1, h2, h3, h4, h5, h6, figure,
div, span, p, a, input, dl, dt, dd {
  margin: 0;
  padding: 0;
}

img, video, iframe {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  border: none;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

.mwidth {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 1px solid #351F66;
  z-index: 9999;
}

header .head-menu {
  height: 80px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head-menu h1 a {
  width: 140px;
  height: 47px;
  background: url("../img/logo_black.png"), no-repeat;
  display: block;
}

header .m-margin {
  margin: 0 20px;
  cursor: pointer;
}

header .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .bugermenu p {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

header .bugermenu span {
  width: 100%;
  border-bottom: 2px solid #444444;
  position: absolute;
  left: 0;
  top: 50%;
}

header .bugermenu span:nth-of-type(1) {
  top: 12%;
}

header .bugermenu span:nth-of-type(3) {
  top: 88%;
}

header .bugermenu p.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .bugermenu p.active span {
  display: none;
}

header .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-right .my {
  width: 24px;
  height: 24px;
  padding: 2px;
}

header .menu-right .my p {
  width: 18px;
  height: 21px;
  background: url("../img/ico-mymega.png"), no-repeat;
}

header .menu-right .search {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

header .menu-right .search p {
  width: 18px;
  height: 18px;
  background: url("../img/ico-search.png"), no-repeat;
}

header .menu-right .my.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .menu-right .my.active p {
  display: none;
}

header .menu-right .search.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .menu-right .search.active p {
  display: none;
}

.footer-menu {
  width: 100%;
  height: 200px;
  background-color: #f8f8fa;
  color: #444444;
  z-index: 999;
}

.footer-menu .f-1 {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu .f-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu .f-1 ul li {
  margin-right: 14px;
  font-size: 0.8em;
}

.footer-menu .f-1 ul b {
  font-size: 1em;
}

.footer-menu .f-1 button {
  padding: 4px 18px;
  font-size: 0.8em;
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  cursor: pointer;
}

.footer-menu .f-1 button img {
  width: 12px;
  margin-right: 4px;
}

.footer-menu .f-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu .f2-1 {
  width: 150px;
  margin-top: 4px;
}

.footer-menu .f2-2 span {
  font-size: .8em;
}

.footer-menu .f2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu .f2-3 span {
  margin-top: 4px;
  margin-left: 8px;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .head-menu h1 a {
  background-image: url("../img/logo-white.png");
}

header .m-margin a {
  color: #E2E2E2;
}

header .bugermenu span {
  border-bottom: 2px solid #E2E2E2;
}

header .menu-right .my p {
  background: url("../img/ico-mymega-white.png"), no-repeat;
}

header .menu-right .search p {
  background: url("../img/ico-search-white.png"), no-repeat;
}

main {
  position: relative;
}

main h3 {
  padding: 50px 0 40px;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -1px;
  color: #351F66;
}

.box-office {
  width: 100%;
  height: 810px;
  overflow: hidden;
}

.box-office .bg {
  width: 100%;
  height: 840px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -80px;
  z-index: -500;
}

.box-office .bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(#553f05), color-stop(50%, rgba(23, 17, 1, 0)), to(#553f05));
  background: linear-gradient(to right, #553f05 0%, rgba(23, 17, 1, 0) 50%, #553f05 100%);
}

.box-office .bg::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(3, 1, 21, 0.7);
}

.box-office .bg .bg-pattern {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background: url("../img/main/bg-movie-detail-pattern.png") repeat 0 0;
}

.box-office .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.box-office .contents {
  text-align: center;
  color: #fff;
}

.box-office .contents-title {
  padding: 80px 0 0;
  position: relative;
}

.box-office .contents-title h2 {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 1.0667em;
}

.box-office .contents-title p {
  color: #E2E2E2;
  line-height: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box-office .box-list {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-office .box-list figure {
  width: 245px;
  position: relative;
}

.box-office .box-list figure > img {
  width: 100%;
}

.box-office .box-list figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.box-office .box-list figure i {
  margin: 8px;
  font-size: 32px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
  left: 0;
  top: 0;
}

.box-office .box-list figure p {
  width: 100%;
  margin: 12px 0;
}

.box-office .box-list figure p span {
  display: inline-block;
  width: 80px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}

.box-office .box-list figure p span img {
  margin: 0 4px 4px 0;
}

.box-office .box-list figure p button {
  width: 160px;
  height: 36px;
  line-height: 34px;
  color: #fff;
  border-radius: 4px;
  background-color: #027B94;
  cursor: pointer;
}

.box-office .mb-search {
  width: 100%;
  text-align: center;
  display: table;
}

.box-office .mb-search form {
  width: 25%;
  display: table-cell;
}

.box-office .mb-search form input {
  color: #fff;
}

.box-office .mb-search form input[type="submit"] {
  display: none;
}

.box-office .mb-search form input[type="submit"] + img {
  cursor: pointer;
}

.box-office .mb-search p {
  width: 25%;
  display: table-cell;
  border-left: 2px solid #444444;
}

.box-office .mb-search p a {
  color: #fff;
}

.box-office .mb-search p img {
  margin: 8px;
}

.box-office .scroll {
  margin: 100px 0 0;
  text-align: center;
  -webkit-animation: scroll 3s linear infinite;
          animation: scroll 3s linear infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.benefit {
  position: relative;
}

.benefit::before {
  content: '';
  width: 100%;
  height: 330px;
  background-color: #351F66;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.benefit .b-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit .b-box .box1 .box1-1 p:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefit .b-box .box1 .box1-1 p:nth-of-type(2) {
  position: relative;
}

.benefit .b-box .box1 .box1-1 p:nth-of-type(2)::before {
  content: '';
  width: 200px;
  border-top: 2px solid #E2E2E2;
  position: absolute;
  top: 0;
  left: 0;
}

.benefit .b-box .box1 .box1-1 p:nth-of-type(2)::after {
  content: '';
  width: 100px;
  border-top: 2px solid #351F66;
  position: absolute;
  top: 0;
  left: 0;
}

.benefit .b-box .box1 .box1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit .b-items {
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefit .b-items p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit .b-items p img {
  width: 100%;
  height: 60px;
}

.benefit .b-items p span {
  display: inline-block;
}

.info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info div p {
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.info div p img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */