@import '_common.scss';
// main header
header{
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
    .head-menu h1 a{
        background-image: url("../img/logo-white.png");
    }
    .m-margin a{
        color: $sl;
    }
    .bugermenu span{
        border-bottom: 2px solid $sl;
    }
    .menu-right .my p{
        background: url("../img/ico-mymega-white.png"), no-repeat;
    }
    .menu-right .search p{
        background: url("../img/ico-search-white.png"), no-repeat;
    }
}

// main page
main{
    position: relative;
}
.box-office{
    width: 100%; height: 900px;
    overflow: hidden;
    .bg{
        width: 100%; height: 900px;
        overflow: hidden;
        position: absolute;
        left: 0; top: -80px;
        z-index: -500;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0;
            bottom: 0; right: 0;
            z-index: 2;
            background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0;
            bottom: 0; right: 0;
            z-index: 2;
            background-color: rgba(3,1,21,0.7);
        }
        .bg-pattern{
            width: 100%; height: 100%;
            position: absolute;
            left: 0; top: 0;
            z-index: 5;
            background: url('../img/main/bg-movie-detail-pattern.png') repeat 0 0;
        }
        img{
            width: 100%; height: 100%;
            object-fit: cover;
            filter: blur(20px);
        }
    }
    .contents{
        text-align: center;
        color: #fff;
    }
    .contents-title{
        padding: 80px 0 0;
        position: relative;
        h2{
            padding-bottom: 5px;
            display: inline-block;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            font-size: 1.0667em;
        }
        p{
            color: $sl;
            line-height: 16px;
            position: absolute;
            bottom: 0; right: 0;
        }
    }
    .box-list{
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        figure{
            width: 245px;
            position: relative;
            >img{
                width: 100%;
            }
            figcaption{
                position: absolute;
                left: 0; top: 0;
                z-index: 2;
            }
            i{
                margin: 8px;
                font-size: 32px;
                text-shadow: 4px 4px 4px black;
                position: absolute;
                left: 0; top: 0;
            }
            p{
                width: 100%;
                margin: 12px 0;
                // padding: 0 4px;
            }
            p span{
                display: inline-block;
                width: 80px; height: 36px;
                line-height: 36px;
                border: 1px solid #555;
                border-radius: 4px;
                background-color:rgba(0,0,0,0.4);
            }
            p span img{
                margin: 0 4px 4px 0;
            }
            p button{
                width: 160px; height: 36px;
                line-height: 34px;
                color: #fff;
                border-radius: 4px;
                background-color: $sc;
                cursor: pointer;
            }
        }
    }
    .mb-search{
        width: 100%;
        text-align: center;
        display: table;
        form{
            width: 25%;
            display: table-cell;
            input{
                color: #fff;
            }
            input[type="submit"]{
                display: none;
            }
            input[type="submit"]+img{
                cursor: pointer;
            }
        }
        p{ 
            width: 25%;
            display: table-cell;
            border-left: 2px solid $st;
            a{
                color: #fff;
            }
            img{
                margin: 8px;
            }
        }
    }
    .scroll{
        margin: 100px 0 0;
        text-align: center;
        animation: scroll 3s linear infinite;
    }
    @keyframes scroll {
        0% { transform: translateY(0);}
        50% { transform: translateY(-40px);}
        100% { transform: translateY(0);}
    }
}
