@import '_common.scss';
// main header
header{
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
    .head-menu h1 a{
        background-image: url("../img/logo-white.png");
    }
    .m-margin a{
        color: $sl;
    }
    .bugermenu span{
        border-bottom: 2px solid $sl;
    }
    .menu-right .my p{
        background: url("../img/ico-mymega-white.png"), no-repeat;
    }
    .menu-right .search p{
        background: url("../img/ico-search-white.png"), no-repeat;
    }
}

// main page
main{
    position: relative;
    .box-office{
        width: 100vw; height: 90vh;
        .bg{
            width: 100%; height: 100%;
            overflow: hidden;
            position: absolute;
            left: 0; top: -80px;
            z-index: -500;
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0; top: 0;
                bottom: 0; right: 0;
                z-index: 2;
                background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                left: 0; top: 0;
                bottom: 0; right: 0;
                z-index: 2;
                background-color: rgba(3,1,21,0.7);
            }
            .bg-pattern{
                width: 100%; height: 100%;
                position: absolute;
                left: 0; top: 0;
                z-index: 5;
                background: url('../img/main/bg-movie-detail-pattern.png') repeat 0 0;
            }
            img{
                width: 100%; height: 100%;
                object-fit: cover;
                filter: blur(20px);
            }
        }
        .contents{
            text-align: center;
            color: #fff;
        }
        .contents-title{
            padding: 80px 0 0;
            position: relative;
            h2{
                padding-bottom: 5px;
                display: inline-block;
                border-bottom: 2px solid rgba(255,255,255,0.2);
                font-size: 1.0667em;
            }
            p{
                color: $sl;
                line-height: 16px;
                position: absolute;
                bottom: 0; right: 0;
            }
        }
        .box-list{
            display: flex;
        }
        .mb-search{
            text-align: center;
            display: flex;
            justify-content: space-between;
            p input, p button{
                color: #fff;
            }
        }
    }
}