@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

*::before, *::after {
  border-spacing: 0;
}

html, body, header, main, footer,
h1, h2, h3, h4, h5, h6, figure,
div, span, p, a, input, dl, dt, dd {
  margin: 0;
  padding: 0;
}

img, video, iframe {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  border: none;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

.mwidth {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 1px solid #351F66;
  z-index: 9999;
}

header .head-menu {
  height: 80px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head-menu h1 a {
  width: 140px;
  height: 47px;
  background: url("../img/logo_black.png"), no-repeat;
  display: block;
}

header .m-margin {
  margin: 0 20px;
  cursor: pointer;
}

header .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .bugermenu p {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

header .bugermenu span {
  width: 100%;
  border-bottom: 2px solid #444444;
  position: absolute;
  left: 0;
  top: 50%;
}

header .bugermenu span:nth-of-type(1) {
  top: 12%;
}

header .bugermenu span:nth-of-type(3) {
  top: 88%;
}

header .bugermenu p.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .bugermenu p.active span {
  display: none;
}

header .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .menu-right .my {
  width: 24px;
  height: 24px;
  padding: 2px;
}

header .menu-right .my p {
  width: 18px;
  height: 21px;
  background: url("../img/ico-mymega.png"), no-repeat;
}

header .menu-right .search {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

header .menu-right .search p {
  width: 18px;
  height: 18px;
  background: url("../img/ico-search.png"), no-repeat;
}

header .menu-right .my.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .menu-right .my.active p {
  display: none;
}

header .menu-right .search.active {
  background: url("../img/ico-layer-close-g.png"), no-repeat;
  background-size: 24px 24px;
}

header .menu-right .search.active p {
  display: none;
}

.footer-menu {
  width: 100%;
  height: 200px;
  background-color: #f8f8fa;
  color: #444444;
  z-index: 999;
}

.footer-menu .f-1 {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu .f-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu .f-1 ul li {
  margin-right: 14px;
  font-size: 0.8em;
}

.footer-menu .f-1 ul b {
  font-size: 1em;
}

.footer-menu .f-1 button {
  padding: 4px 18px;
  font-size: 0.8em;
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  cursor: pointer;
}

.footer-menu .f-1 button img {
  width: 12px;
  margin-right: 4px;
}

.footer-menu .f-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu .f2-1 {
  width: 150px;
  margin-top: 4px;
}

.footer-menu .f2-2 span {
  font-size: .8em;
}

.footer-menu .f2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu .f2-3 span {
  margin-top: 4px;
  margin-left: 8px;
}

main {
  position: relative;
}

.modal_back {
  background: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal_back .pop_w {
  width: 420px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal_back .pop_w .tit {
  background: #351F66;
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  height: 45px;
}

.modal_back .pop_w .tit h3 {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.1;
  padding: 15px 20px 0 20px;
  font-weight: 700;
}

.modal_back .pop_w .pop_con {
  padding: 20px 20px 0 20px;
  height: 400px;
}

.modal_back .pop_w .pop_con .con label {
  display: none;
}

.modal_back .pop_w .pop_con .con input {
  width: 100%;
  height: 46px;
  border: 1px solid #d8d9db;
  padding-left: 15px;
}

.modal_back .pop_w .pop_con .con input:nth-of-type(2) {
  margin-top: 15px;
}

.modal_back .pop_w .pop_con .con input[type=checkbox] {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.modal_back .pop_w .pop_con .con .id_chk {
  padding: 15px 0 35px 0;
}

.modal_back .pop_w .pop_con .con .id_chk a {
  float: right;
  display: inline-block;
  color: #3d7db7;
}

.modal_back .pop_w .pop_con .con .id_chk a i {
  overflow: hidden;
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-left: 4px;
  line-height: 14px;
  font-size: .8em;
  border: 1px solid #3d7db7;
  text-align: center;
  vertical-align: middle;
  color: #3d7db7;
  font-style: normal;
}

.modal_back .pop_w .pop_con .con .id_chk::after {
  content: '';
  display: block;
  clear: both;
}

.modal_back .pop_w .pop_con .con .btn_login button {
  width: 100%;
  height: 46px;
  display: block;
  text-align: center;
  border-radius: 4px;
}

.modal_back .pop_w .pop_con .con .btn_login button.disabled {
  color: #777;
  background: #e0e0e0;
  border: 0;
}

.modal_back .pop_w .pop_con .con .btn_login button.active {
  color: #fff;
  background: #351F66;
}

.modal_back .pop_w .pop_con .con .link {
  width: 100%;
  padding: 20px 0 30px 0;
  text-align: center;
}

.modal_back .pop_w .pop_con .con .link a {
  display: inline-block;
  padding-right: 1em;
  color: #666;
  position: relative;
}

.modal_back .pop_w .pop_con .con .link a::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: #e0e0e0;
  top: 5px;
  right: 6px;
}

.modal_back .pop_w .pop_con .con .link a:nth-of-type(3) {
  padding-right: 0;
}

.modal_back .pop_w .pop_con .con .link a:nth-of-type(3):after {
  display: none;
}

.modal_back .pop_w .pop_con .con .btn_sns {
  text-align: center;
  width: 100%;
  height: 40px;
}

.modal_back .pop_w .pop_con .con .btn_sns a {
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 23px;
  font-size: 0;
  line-height: 0;
}

.modal_back .pop_w .pop_con .con .btn_sns a.facebook {
  background: url("../img/login/ico-facebook.png") no-repeat;
}

.modal_back .pop_w .pop_con .con .btn_sns a.naver {
  background: url("../img/login/ico-naver.png") no-repeat;
}

.modal_back .pop_w .pop_con .con .btn_sns a.kakao {
  background: url("../img/login/ico-kakao.png") no-repeat;
}

.modal_back .pop_w .pop_con .con .btn_sns a.payco {
  background: url("../img/login/ico-payco.png") no-repeat;
}
/*# sourceMappingURL=login.css.map */