@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.5;
  text-transform: uppercase;
}

*::before, *::after {
  border-spacing: 0;
}

html, body, header, main, footer,
h1, h2, h3, h4, h5, h6, figure,
div, span, p, a, input, dl, dt, dd {
  margin: 0;
  padding: 0;
}

img, video, iframe {
  /*     width: 100%; height: auto;  */
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  border: none;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

.mwidth {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.calendarSwiper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.calendarSwiper .swiper-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 40px;
}

.calendarSwiper .swiper-wrapper .swiper-slide {
  font-weight: 400;
  width: 70px;
  cursor: pointer;
  padding: 0;
}

.calendarSwiper .swiper-button-next {
  background: url(../img/sub_reservation/btn-next-time.png) no-repeat center;
  position: absolute;
  top: 45%;
  right: 0;
  padding: 0 6px;
  display: block;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.calendarSwiper .swiper-button-next::after {
  content: '';
}

.calendarSwiper .swiper-button-prev {
  background: url(../img/sub_reservation/btn-prev-time.png) no-repeat center;
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  padding: 0 6px;
}

.calendarSwiper .swiper-button-prev::after {
  content: '';
}

.timeSwiper {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #d8d9db;
  border-bottom: 1px solid #d8d9db;
  position: relative;
}

.timeSwiper .swiper-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 30px;
}

.timeSwiper .swiper-wrapper .swiper-slide {
  width: 25px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  color: #444;
  opacity: 0.5;
  cursor: pointer;
}

.timeSwiper .swiper-button-next {
  background: url(../img/sub_reservation/btn-next-time.png) no-repeat center;
  position: absolute;
  top: 45%;
  right: 0;
  display: block;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

.timeSwiper .swiper-button-next::after {
  content: '';
}

.timeSwiper .swiper-button-prev {
  background: url(../img/sub_reservation/btn-prev-time.png) no-repeat center;
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.timeSwiper .swiper-button-prev::after {
  content: '';
}
/*# sourceMappingURL=swiper.css.map */