@import '_common';

.inner {width: 1100px; margin: 0 auto; position: relative; padding:0 20px;}
.container {
    width: 100%; margin: 0 auto; position: relative;
    .gnb {
        width: 100%; height: 42px; background: #f8f8fa;
        .location {
            width: 100%; height: 42px;
            a {
                color: #666; margin-left: 25px; line-height: 42px; position: relative;
                &:hover {text-decoration: underline;}
                &::before {content: ''; display: block; position: absolute; left: -14px; top: -12px; width: 5px; height: 42px; background: url('../img/store/bg-location-arr.png') no-repeat left center;}
            }
        }
        .sns {
            position: absolute; top: 12px; right: 0;
            a {display: block; height: 22px; color: #666; font-size: 15px; line-height: 22px;}
            a::after {content: url('../img/store/sns_link.png'); display: inline-block; padding-left: 10px; vertical-align: sub;}
            .sns-share {display: none; position: absolute; right: 0; top: 42px; z-index: 55; width: 360px; height: 110px; padding: 20px 0 0 0; border: 1px solid #d8d9db; border-radius: 5px; background-color: #fff;}
            .sns-share::before {content: ''; position: absolute; right: 34px; top: -12px; display: block; width: 22px; height: 12px; background: url('../img/store/bg-tooltip-arr-top-script.png') no-repeat 0 0;}
            .sns-share .btn_w {text-align: center;}
            .sns-share .btn_w .btn-sns {display: inline-block; min-width: 50px; margin: 0 4px; padding-top: 48px; border: 0; font-size: .9333em; color: #444; line-height: 1.1; background-color: transparent;}
            .sns-share .btn_w .face {background: url('../img/store/btn-sns-share-face.png') center top no-repeat;}
            .sns-share .btn_w .band {background: url('../img/store/btn-sns-share-band.png') center top no-repeat;}
            .sns-share .btn_w .twit {background: url('../img/store/btn-sns-share-twitter.png') center top no-repeat;}
            .sns-share .btn_w .link {background: url('../img/store/btn-sns-share-link.png') center top no-repeat;}
        }
    }
    .content_w {
        width: 100%; padding: 40px 0 0 0;
        h2 {padding-bottom: 26px; font-size: 1.8666em; letter-spacing: -1px; line-height: 1.1; font-family: 'NanumBarunGothic', sans-serif; font-weight: 400;}
        h3 {padding-bottom: 16px; font-size: 1.6em; font-weight: 400; color: #503396; line-height: 1.1;}
        .tab {
            ul {display: flex; width: 100%; height: 42px;}
            ul li {
                width: 25%; height: 100%; border: 1px solid #ebebeb; border-bottom: 1px solid #503396; border-width: 1px 0 1px 1px; text-align: center;
                a {font-size: 1.0667em; color: #222; height: 41px; line-height: 40px;}
            }
            ul li:last-child {border-right: 1px solid #ebebeb; position: relative;}
            ul li.on {border: 1px solid #503396; border-bottom: 0;}
        }
        //switch
        .onair-condition{
            display: flex;
            margin-top:40px;
            margin-bottom:15px;
            justify-content: space-between;
            align-items: center;
        }
        .onair-condition p input{display:none;}
        .onair-condition p label{
            width:30px; height:15px;
            background:#ddd;
            display:inline-block;
            border-radius:20px;
            padding:2px;
            transition: 0.3s;
        }
        .onair-condition p label::before{
            content:'';
            width:12px; height:12px;
            border-radius:100%;
            background-color: #fff;
            display:inline-block;
            transition: 0.3s;
            transform: translateY(-2px);
        }
        
        .onair-condition p input:checked + label::before{
        transform:translate(14px,-2px);
    }

        
        .onair-condition p input:checked + label{
            background-color: rgb(14, 139, 177);
        }
        .filter_name{margin-left:5px;}
        .filter_wrap{display: flex;}
        .no-result-count{margin-left:20px;}

        //search
        .movie-search{
            position: relative;
            float: right;
            width: 230px;
            height: 36px;
            margin: 0;
            padding: 0 31px 0 0;
            border: 1px solid #d8d9db;
            border-radius: 3px;
        }
        .input-text{
            display: block;
            width: 100%;
            height: 34px;
            border: none;
            padding: 0 10px;
            line-height: 30px;
            color: #444;
            font-size: 1em;
        }
        .input-text:focus{outline: none;}
        .btn-search-input{
            cursor: pointer;
            position: absolute;
            right: 1px;
            top: 1px;
            width: 30px;
            height: 32px;
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            border: none;
            text-indent: -9999px;
            background: #fff url('/img/movie/ico-search.png') no-repeat center;
            opacity: 0.7;
        }
        //movie-list
        .movie-list ul{margin-left:-60px;}
        .movie-list ul li:nth-child(4n)~li{
            margin-top: 60px;
        }
        .movie-list ul li{
            overflow: hidden;
            position: relative;
            float: left;
            width: 230px;
            height: 450px;
            margin: 0 0 0 50px;
            padding: 0;
            background-color: #fff;
            .movie-list-info img{width: 100%;}

            //title-text
            .tit-area{
                position: relative;
                width: 100%;
                margin: 15px 0 0 0;
                padding: 0 0 0 30px;
                line-height: 25px;
                .movie-grade{
                    position: absolute;
                    left: 0;
                    top:0;
                    margin-top: -10px;
                    width: 23px;
                    height: 23px;
                    margin: 0;
                    padding: 0;
                    text-indent: -9999px;
                    background-position: center;
                    background-repeat: no-repeat;

                }
                .age-all{
                    background-image: url('/img/movie/txt-age-all.png');
                }
                .age-12{
                    background-image: url('/img/movie/txt-age-12.png');
                }
                .age-15{
                    background-image: url('/img/movie/txt-age-15.png');
                }

                .tit{
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 2px 0 0 1px;
                    font-size: 1.3em;
                    font-weight: 400;
                    color:#444;
                }
            }

            //sub-text
            .rate-date{
                color: #444;
                font-size:15px;
                display: block;
                overflow: hidden;
                padding-top:10px;
                span{
                    display: block;
                    position: relative;
                    float: left;
                }
                span.rate{
                    margin-right:7px;
                    padding-right:8px;
                }
                span.rate::after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:50%;
                    right:0;
                    width:1px;
                    height:12px;
                    margin-top:-6px;
                    background-color: #d8d9db;
                }
            }

            //button
            .button{
                display: inline-block;
                height: 36px;
                margin: 0;
                padding: 0 15px;
                text-align: center;
                line-height: 34px;
                color: #503396;
                font-weight: 400;
                border-radius: 4px;
                font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
                text-decoration: none;
                border: 1px solid #503396;
                vertical-align: middle;
                background-color: #fff;
                cursor: pointer;
                i:first-child{
                    margin-left: 0;
                    margin-right: 4px;
                }
                i{margin-top:-2px;}
                .iconset{
                    overflow: hidden;
                    display: inline-block;
                    margin: -1px 0 0 0;
                    padding: 0;
                    font-size: 0;
                    line-height: 0;
                    vertical-align: middle;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                }
                .ico-heart-toggle-gray{
                    width:17px;
                    height:15px;
                    background-image: url('/img/movie/ico-heart-toggle-gray.png');
                }
            }
            .button.purple{
                color: #fff;
                line-height: 36px;
                border: 0;
                background: #503396;
            }
            .btn-util{
                overflow: hidden;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 36px;

                .btn-like{
                    float: left;
                    width: 72px;
                    padding: 0 5px;
                    font-size: .9em;
                    border-color: #ebebeb;
                }
                .btn-like:hover{
                    background-color: rgb(240, 240, 240);
                }
                .case{
                    .button{
                        display: block;
                        float:left;
                        width: 66%;
                        margin-left: 5px;
                        padding: 0;
                    }
                    .button:hover{
                        background-color: rgb(45, 15, 94);
                    }
                }
                .case.col-2 .button{
                    width:74px;
                    margin-left: 5px;
                }
            }
        }
        .movie-list-info{
            overflow: hidden;
            display: block;
            position: relative;
            height: 331px;
            text-decoration: none;
            background-color: #f5f5f5;
            .rank{
                position: absolute;
                left: 0;
                top: 0;
                width: 230px;
                height: 150px;
                padding: 8px 0 0 10px;
                line-height: 1.1;
                font-size: 2em;
                font-style: italic;
                font-family: Roboto,Dotum,'돋움',sans-serif;
                font-weight: 300;
                color: #fff;
                text-shadow: 2px 2px 2px rgb(29, 29, 29);
            }
            .ir{
                text-indent: -9999px;
                position: fixed;
                top: -9999px;
                font-size: 1px;
                width: 1px;
                height: 1px;
                opacity: 0
            }
            .screen-type2{
                position: absolute;
                right: 10px;
                top: 10px;
                p{
                    display: inline-block;
                    margin-right:4px;
                    padding: 8px;
                    border-radius: 3px;
                    color: #fff;
                    background-color: rgba(0,0,0,.6);
                }
            }
            .movie-score{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 230px;
                height: 331px;
                color: #fff;
                opacity: 0;
                .wrap{
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    color: #fff;
                    line-height: 1.4;
                    background-color: rgba(0,0,0,.8);
                    .summary{
                        overflow: hidden;
                        height:152px;
                    }
                }
                .my-score{
                    overflow: hidden;
                    width: 100%;
                    margin-top: 110px;
                    padding: 5px 0 0 0;
                    border-top: 1px solid #3c3c3c;
                    text-align: center;
                    .preview{
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 36px;
                        .tit{
                            display: block;
                            float: left;
                            margin: 0 15px 0 0;
                            font-size: .9em;
                        }
                        .number{
                            float: left;
                            font-size: 1.6em;
                            color: #59bec9;
                        }
                    }
                }
            }
            .movie-score:hover{
                opacity: 1;
                z-index:10;
                transition:0.5s;
            }
        }
    }
}
